<div>
    <div>
        <span>{{'styleChange.currentColor' | translate}}: </span>
        <button type="button" class="btn btn-default colorButton" data-color="{{currentColor}}" 
                data-dismiss="modal" ng-style="{'background-color': currentColor}"></button>
    </div>
    <p>
    <div>{{'styleChange.selectColor' | translate}}:</div>
    <button type="button" class="btn btn-default multiline-buttion colorButton"
            data-dismiss="modal" ng-style="{'background-color': color}" ng-repeat="color in colorList"
            ng-click="selectColor(timeseries, color)"></button>
</div>