<div class="modal-content timeseries-styling">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
        <div class="modal-title" translate="styleChange.header"></div>
    </div>
    <div class="modal-body style-block">
        <div class="style-block">
            <swc-color-chooser></swc-color-chooser>
        </div>
        <div class="style-block">
            <swc-bar-toggler class="style-block"></swc-bar-toggler>
        </div>
        <div class="style-block">
            <swc-zero-based-axis-toggler class="style-block"></swc-zero-based-axis-toggler>
        </div>
        <div class="style-block">
            <swc-group-axis-toggler class="style-block"></swc-group-axis-toggler>
        </div>
    </div>
</div>