<div class="btn-group timeSelection">
    <button class="btn btn-default" ng-click="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button class="btn btn-default" ng-controller="SwcTimeRangeCtrl" ng-click="open()">
        {{time.start.toDate() | date : 'dd.MM.yy'}} - {{time.end.toDate() | date : 'dd.MM.yy'}}
    </button>
    <button type="button" class="btn btn-default" ng-click="forward()">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
</div>