<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

      <!--
        org.n52.iceland.event.ServiceEventListener
    -->

    <!-- ServiceEventListener implementations from core/cache -->
    <bean class="org.n52.sos.cache.ctrl.DefaultContentModificationListener"/>
    <!-- ServiceEventListener implementations from core/api -->
    <bean class="org.n52.iceland.service.ExceptionLogger"/>
    <!-- ServiceEventListener implementations from extensions/do/core -->
    <bean class="org.n52.sos.ext.deleteobservation.DeleteObservationContentModificationListener"/>

</beans>
