<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="settings-sqlite.xml" />

    <bean id="settingsService" class="org.n52.iceland.config.SettingsManager" />
    <bean id="activationService" class="org.n52.iceland.config.SosActivationService" />

    <import resource="settingDefinitions.xml" />
    <import resource="../sos-context.xml" />

    <bean class="org.n52.iceland.util.activation.ActivationRegistrator">
        <property name="listeners">
            <map>
                <entry key-ref="bindingRepository" value="#{activationService.bindingListener}" />
                <entry key-ref="owsExtendedCapabilitiesRepository" value="#{activationService.owsExtendedCapabiltiesListener"/>
                <entry key-ref="requestOperatorRepository" value="#{activationService.requestOperatorListener}"/>
            </map>
        </property>
        <property name="initializers">
            <map>
                <entry key-ref="bindingRepository" value="#{activationService.bindingInitializer}" />
                <entry key-ref="owsExtendedCapabilitiesRepository" value="#{activationService.owsExtendedCapabiltiesInitializer}"/>
                <entry key-ref="requestOperatorRepository" value="#{activationService.requestOperatorInitializer}" />
            </map>
        </property>
    </bean>

     <bean class="org.n52.iceland.util.activation.ActivationRegistrator">
        <property name="listeners">
            <map>
                <entry key-ref="offeringExtensionRepository" value="#{activationService.offeringExtensionListener}" />
                <entry key-ref="procedureDescriptionFormatRepository" value="#{activationService.procedureDescriptionFormatListener}"/>
                <entry key-ref="responseFormatRepository" value="#{activationService.responseFormatListener}" />
            </map>
        </property>
        <property name="initializers">
            <map>
                <entry key-ref="offeringExtensionRepository" value="#{activationService.offeringExtensionInitializer}" />
                <entry key-ref="procedureDescriptionFormatRepository" value="#{activationService.procedureDescriptionFormatInitializer}" />
                <entry key-ref="responseFormatRepository" value="#{activationService.responseFormatInitializer}" />
            </map>
        </property>
    </bean>
</beans>
