<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:ctx="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-4.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <ctx:annotation-config />

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
    <bean id="authenticationProvider" class="org.n52.sos.web.auth.UserService"/>

    <sec:authentication-manager alias="authenticationManager">
        <sec:authentication-provider ref="authenticationProvider" />
    </sec:authentication-manager>

    <bean id="httpBasicAuthenticationFilter" class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <constructor-arg ref="authenticationManager" />
        <constructor-arg>
            <bean class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
                <property name="realmName" value="52North SOS" />
            </bean>
        </constructor-arg>
    </bean>

    <sec:http pattern="/static/**" security="none" />
    <sec:http pattern="/install/**" security="none" />
    <sec:http pattern="/sos" security="none" />
    <sec:http pattern="/service" security="none" />

    
    <sec:http auto-config="true" use-expressions="true" disable-url-rewriting="true">
        <sec:csrf disabled="true" />
        <sec:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        <sec:intercept-url pattern="/login" access="hasRole('ROLE_ANONYMOUS')" />
        <sec:custom-filter before="SECURITY_CONTEXT_FILTER" ref="httpBasicAuthenticationFilter" />
        <sec:form-login username-parameter="username"
                        password-parameter="password"
                        login-page="/login"
                        default-target-url="/admin/index"
                        authentication-failure-url="/login?error=true"
                        login-processing-url="/login" />
        <sec:logout invalidate-session="true"
                    delete-cookies="true"
                    logout-url="/logout"
                    logout-success-url="/index" />
    </sec:http>
</beans>
