<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <div class="modal-title" translate="settings.permalink.create"></div>
    </div>
    <div class="modal-body">
        <p>
            <swc-permalink-in-mail url="url" on-triggered="close()"></swc-permalink-in-mail>
        </p>
        <p>
            <swc-permalink-new-window url="url" on-triggered="close()"></swc-permalink-new-window>
        </p>
        <p>
            <swc-permalink-to-clipboard url="url" on-triggered="close()"></swc-permalink-to-clipboard>
        </p>
    </div>
</div>
