<div class="time-entry">
    <span translate="timeSelection.custom.start"></span>
    <button class="btn btn-default startDate input-group" id="startPicker"></button>
</div>

<div class="time-entry">
    <span translate="timeSelection.custom.end"></span>
    <button class="btn btn-default endDate input-group" id="endPicker"></button>
</div>

<div class="alert alert-danger" id="alertTimeExtent"></div>
<button type="button" class="btn btn-primary confirm" translate="ok" 
        ng-click="confirmCustomTimeRange();close();"></button>