<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close();">&times;</button>
        <div class="modal-title" translate="timeSelection.header"></div>
    </div>
    <div class="modal-body time-content">

        <div class="panel-group" id="accordionPreset">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordionPreset" href="#collapsePreset" translate="timeSelection.presetsHeader"></a>
                    </h4>
                </div>
                <div id="collapsePreset" class="panel-collapse collapse in">
                    <div ng-controller="SwcPredefinedTimeRangeControls">
                        <div class="panel-body">
                            <swc-predefined-time-range-button item="item" ng-repeat="item in items"></swc-predefined-time-range-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordionCustom">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse"
                           data-parent="#accordionCustom" href="#collapseCustom" translate="timeSelection.custom.header"></a>
                    </h4>
                </div>
                <div id="collapseCustom" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <swc-custom-date-time-selection></swc-custom-date-time-selection>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>