<div ng-controller="SwcListSelectionParametersCtrl">
  <uib-tabset class="selectionListContent">
    <uib-tab>
      <uib-tab-heading>
        <span translate="listSelection.headers.category"></span>
      </uib-tab-heading>
      <swc-list-selector parameters="categoryParams" listselectionid="'category'" provider-list="$ctrl.providerList" on-dataset-selection="$ctrl.datasetSelected(dataset, url)"></swc-list-selector>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span translate="listSelection.headers.station"></span>
      </uib-tab-heading>
      <swc-list-selector parameters="stationParams" listselectionid="'station'" provider-list="$ctrl.providerList" on-dataset-selection="$ctrl.datasetSelected(dataset, url)"></swc-list-selector>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span translate="listSelection.headers.phenomenon"></span>
      </uib-tab-heading>
      <swc-list-selector parameters="phenomenonParams" listselectionid="'phenomenon'" provider-list="$ctrl.providerList" on-dataset-selection="$ctrl.datasetSelected(dataset, url)"></swc-list-selector>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading>
        <span translate="listSelection.headers.procedure"></span>
      </uib-tab-heading>
      <swc-list-selector parameters="procedureParams" listselectionid="'procedure'" provider-list="$ctrl.providerList" on-dataset-selection="$ctrl.datasetSelected(dataset, url)"></swc-list-selector>
    </uib-tab>
  </uib-tabset>
</div>
