<div ng-controller='SwcTooltipCtrl'>
    <div>
        <swc-label-mapper label="timeseries.station.properties.label || timeseries.seriesParameters.platform.label || timeseries.parameters.platform.label"></swc-label-mapper>
    </div>
    <div>
        <swc-label-mapper label="timeseries.parameters.phenomenon.label || timeseries.seriesParameters.phenomenon.label || timeseries.parameters.phenomenon.label"></swc-label-mapper>
    </div>
    <div>{{value}} <swc-label-mapper label="timeseries.uom"></swc-label-mapper></div>
    <div>{{time| date: 'HH:mm'}} Uhr</div>
</div>
