<div class="">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add new provider by URL ..." value="http://sensorweb.demo.52north.org/sensorwebclient-webapp-stable/api/v1/" ng-model="$ctrl.providerUrl">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="$ctrl.addProvider();">Add</button>
      </span>
    </div>
    <div ng-if="$ctrl.load.successful" class="alert alert-success" role="alert">Load provider successfully</div>
    <div ng-if="$ctrl.load.failed" class="alert alert-danger" role="alert">Could not load provider with this url</div>
</div>
