<div class="swc-page swc-page-current" id="map-page">
    <div class="container-fluid content">
        <div class="row fullHeight">
            <div class="col-xs-12 col-sm-8 col-lg-9 fullHeight">
                <div class="visible-xs leftPanelButton" ng-controller="SwcPhenomenaButtonController">
                    <button type="button" class="btn btn-primary btn-xs"
                            ng-hide="status.showPhenomena"
                            ng-click="$event.stopPropagation(); togglePhenomena()">
                        <span ng-hide="selectedPhenomenon.selection.label" translate="main.allPhenomena"></span>
                        <span>{{selectedPhenomenon.selection.label}}</span>
                    </button>
                    <button type="button" class="btn btn-primary btn-xs"
                            ng-show="status.showPhenomena"
                            ng-click="$event.stopPropagation(); togglePhenomena()">X</button>
                </div>
                <div id ="map" ng-controller="SwcBasicMapCtrl as mapCtrl">
                    <leaflet id="stationMap"
                             bounds="map.bounds"
                             markers="map.markers"
                             layers="map.layers"
                             paths="map.paths"
                             center="map.center"
                             controls="map.controls"
                             width="100%" height="100%">
                      <swc-modal-station-opener mapid="'stationMap'" controller="'SwcModalStationCtrl'"></swc-modal-station-opener>
                      <div ng-include="'templates/map/layers-control.html'"/>
                    </leaflet>
                    <swc-station-loading></swc-station-loading>
                    <div ng-include="'templates/map/search-control.html'"/>
                    <div ng-include="'templates/map/zoom-control.html'"/>
                    <div ng-include="'templates/map/locate-control.html'"/>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4 col-lg-3 fullHeight phenomena rightPanel"
                 ng-controller="SwcPhenomenaButtonController"
                 ng-class="{active:status.showPhenomena}">
                <div ng-controller="SwcPhenomenonListCtrl as phenomena">
                    <div class="phenomena-list">
                        <a class="phenomenonItem" ng-click="showAllPhenomenons(); togglePhenomena();" >
                            <div class="item" ng-class="{selected:isSelected(null)}">
                                <span class="glyphicon glyphicon-refresh loading icon-spin"></span>
                                <span translate="main.allPhenomena"></span>
                            </div>
                        </a>
                        <hr>
                        <div ng-repeat="phenomenon in phenomena.items | orderBy:'+label'">
                            <a class="phenomenonItem" data-id="{{id}}">
                                <div class="item" ng-click="showSpecificPhenomenon(phenomenon); togglePhenomena();" ng-class="{selected:isSelected(phenomenon)}">
                                    <span class="glyphicon glyphicon-refresh loading icon-spin"></span>
                                    <swc-label-mapper label="phenomenon.label"></swc-label-mapper>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
