<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <div class="modal-title" translate="settings.header"></div>
    </div>
    <div class="modal-body">
        <div class="panel-group" id="accordionSettings">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionSettings"
                           href="#collapseSettings" translate="settings.header"></a>
                    </h4>
                </div>
                <div id="collapseSettings" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <swc-settings-toggle-button
                            field="saveStatus"
                            caption="settings.saveStatus.header"
                            description="settings.saveStatus.label">
                        </swc-settings-toggle-button>
                        <a class="btn btn-block btn-default resetStatus" translate="settings.resetStatus"
                           ng-controller="SwcResetStatusButtonCtrl"
                           ng-click="resetStatus()"></a>
                        <swc-language-selector></swc-language-selector>
                        <div class="panel panel-default permalink">
                            <div class="panel-heading" translate="settings.permalink.create">:</div>
                            <div class="panel-body">
                                <div class="item link"
                                     ng-controller="SwcPermalinkInWindowCtrl"
                                     ng-click="openInNewWindow()">
                                    <span class="glyphicon glyphicon-link"></span>
                                    <span translate="settings.permalink.inWindow"></span>
                                </div>
                                <div class="item mail"
                                     ng-controller="SwcPermalinkInMailCtrl"
                                     ng-click="openInMail()">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span translate="settings.permalink.inMail"></span>
                                </div>
                                <div class="item clipboard"
                                     ng-controller="SwcPermalinkToClipboardCtrl"
                                     ng-click="copyToClipboard()">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                    <span translate="settings.permalink.inClipboard"></span>
                                </div>
                                <div class="item">
                                    <swc-qr-code></swc-qr-code>
                                </div>
                                <div class="item">
                                    <swc-add-favorite-group></swc-add-favorite-group>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-block btn-default" ng-class="{'btn-primary':status.clusterStations}" translate="settings.clusterMarker" ng-controller="SwcClusterMarkerCtrl" ng-click="toggle(); close();"></a>
                        <swc-settings-toggle-button
                            field="concentrationMarker"
                            caption="settings.markerWithLastInfo.header"
                            description="settings.markerWithLastInfo.label">
                        </swc-settings-toggle-button>
                        <a class="btn btn-block btn-default" ng-class="{'btn-primary':status.generalizeData}" translate="settings.generalizeData" ng-controller="SwcToggleGeneralizationCtrl" ng-click="toggleGeneralization(); close();"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordionImprint">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionImprint"
                           href="#collapseImprint" translate="settings.imprint.header"></a>
                    </h4>
                </div>
                <div id="collapseImprint" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4 translate="settings.imprint.header"></h4>
                        <p translate="settings.imprint.github"></p>
                        <p translate="settings.imprint.text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
