<div class="legendItem" style="position: relative;"
     ng-controller="SwcToggleSelectionCtrl"
     ng-style="{'border-color': timeseries.styles.color}"
     ng-class="{'selected': timeseries.styles.selected}"
     ng-click="toggleSelection(timeseries)">
    <div class="loading-overlay"
         ng-show="timeseries.loadingData"
         ng-style="{'background-color': timeseries.styles.color}">
        <div class="glyphicon glyphicon-refresh icon-spin"></div>
    </div>
    <div ng-controller="SwcToggleInformationCtrl">
        <div class="legendItemheader">
            <div class="legendItemLabel" ng-style="{color: timeseries.styles.color}">
                <swc-label-mapper label="timeseries.station.properties.label || timeseries.seriesParameters.platform.label || timeseries.parameters.platform.label"></swc-label-mapper>
                <swc-favorite-add-star timeseries="timeseries"></swc-favorite-add-star>
            </div>
            <div class="noDataWarning firstLastEntry" ng-show="timeseries.hasNoDataInCurrentExtent">
                <div>
                    <span class="glyphicon glyphicon-warning-sign red"></span>
                    <span class="small" translate="legend.entry.noData"></span>
                </div>
                <div class="additionalLegendEntry"
                     ng-controller="SwcJumpToFirstLatestValuesCtrl"
                     ng-click="$event.stopPropagation(); jumpToLastTimeStamp(timeseries.lastValue)">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="small" translate="legend.entry.jumpToLastValue"></span>
                </div>
            </div>
            <div class="small">
                <swc-label-mapper label="timeseries.parameters.phenomenon.label || timeseries.seriesParameters.phenomenon.label || timeseries.parameters.phenomenon.label"></swc-label-mapper>
                <span ng-if="timeseries.uom">[<swc-label-mapper label="timeseries.uom"></swc-label-mapper>]</span>
            </div>
            <div class="small"><swc-label-mapper label="timeseries.parameters.procedure.label || timeseries.seriesParameters.procedure.label || timeseries.parameters.procedure.label"></swc-label-mapper></div>
            <div class="small" ng-if="timeseries.parameters.category.label"><swc-label-mapper label="timeseries.parameters.category.label"></swc-label-mapper></div>
        </div>
        <div class="legendicons">
            <span class="glyphicon glyphicon-eye-close"
                  ng-controller="SwcToggleVisibilityCtrl"
                  ng-class="{'glyphicon-eye-close' : timeseries.styles.visible, 'glyphicon-eye-open': !timeseries.styles.visible}"
                  ng-click="$event.stopPropagation(); toggleVisibility(timeseries)"></span>
            <span class="glyphicon glyphicon-map-marker inMap"
                  ng-controller="SwcShowInMapCtrl"
                  ng-click="$event.stopPropagation(); showInMap(timeseries)"></span>
            <span class="glyphicon glyphicon-pencil changeStyle"
                  ng-controller="SwcOpenStyleModalCtrl"
                  ng-style="{color: timeseries.styles.color}"
                  ng-click="$event.stopPropagation(); openStyling(timeseries)"></span>
            <span class="glyphicon glyphicon-info-sign showInfo"
                  ng-click="$event.stopPropagation(); showInformation()"></span>
            <span class="glyphicon glyphicon-remove delete"
                  ng-controller="SwcDeleteLegendEntryCtrl"
                  ng-click="$event.stopPropagation(); removeTs(timeseries)"></span>
        </div>
        <div class="collapseLegendEntry small" ng-show="infoVisible">
            <div class="firstLastEntry additionalLegendEntry"
                 ng-controller="SwcJumpToFirstLatestValuesCtrl"
                 ng-show="timeseries.firstValue"
                 ng-click="$event.stopPropagation(); jumpToFirstTimeStamp(timeseries.firstValue)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span translate="legend.entry.firstValueAt"></span>
                <span>{{timeseries.firstValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                <span class="hidden-medium">({{timeseries.firstValue.value}} {{timeseries.uom}})</span>
            </div>
            <div class="firstLastEntry additionalLegendEntry"
                 ng-controller="SwcJumpToFirstLatestValuesCtrl"
                 ng-show="timeseries.lastValue"
                 ng-click="$event.stopPropagation(); jumpToLastTimeStamp(timeseries.lastValue)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span translate="legend.entry.lastValueAt"></span>
                <span>{{timeseries.lastValue.timestamp| date: 'dd.MM.yy HH:mm'}}</span>
                <span class="hidden-medium">({{timeseries.lastValue.value}} {{timeseries.uom}})</span>
            </div>
            <div class="refEntry additionalLegendEntry"
                 ng-repeat="refValue in timeseries.referenceValues"
                 ng-class="{selected : refValue.visible}"
                 ng-style="{'border-color': refValue.color}"
                 ng-controller="SwcToggleRefValueCtrl"
                 ng-click="$event.stopPropagation(); selectRefValue(refValue, timeseries)">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span>{{refValue.label}}</span>
            </div>
            <div class="additionalLegendEntry"
                 ng-controller="SwcExportToCsvCtrl"
                 ng-click="$event.stopPropagation(); createExportCsv(timeseries)">
                <span class="glyphicon glyphicon-download"></span>
                <span translate="export.label"></span>
            </div>
            <div class="additionalLegendEntry">
                <swc-procedure-metadata timeseries='timeseries'></swc-procedure-metadata>
                <swc-timeseries-raw-data-output timeseries='timeseries'></swc-timeseries-raw-data-output>
                <swc-sos-url timeseries='timeseries'></swc-sos-url>
            </div>
        </div>
    </div>
</div>
