<div class="btn-group-sm map-control layers-control" role="group" ng-controller="SwcMapLayerCtrl">
    <a class="btn btn-default"
       ng-show="!isToggled"
       ng-class="{'selected':isToggled}"
       ng-mouseenter="openMenu()">
        <span class="glyphicon glyphicon-align-center"></span>
    </a>
    <div class="menu"
         ng-show="isToggled"
         ng-mouseleave="closeMenu()"
         click-anywhere-but-here="closeMenu()">
        <div ng-controller="LayerControlCtrl">
            <layercontrol icons="layercontrol.icons" 
                          auto-hide-opacity="false" 
                          show-groups="false">
            </layercontrol>
        </div>
    </div>
</div>