<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()">&times;</button>
        <div class="modal-title" translate="providerList.provider"></div>
    </div>
    <div class="modal-body provider-list">
        <div class="provider-item" ng-repeat="provider in providerList"
             ng-class="{selected : provider.selected}" ng-click="selectProvider(provider)">
            <div>{{provider.label}}</div>
            <div class="small">{{provider.type}}, {{provider.version}}</div>
            <div class="small">{{provider.url}}</div>
            <div class="small">
                <span ng-if="provider.quantities.stations">
                    <span translate="providerList.stations"></span>
                <span>: {{provider.quantities.stations}}</span>
                </span>
                <span ng-if="provider.quantities.platforms">
                    <span translate="providerList.platforms"></span>
                    <span>: {{provider.quantities.platforms}}</span>
                </span>
                <span ng-if="provider.quantities.series">
                    <span translate="providerList.timeseries"></span>
                    <span>: {{provider.quantities.series}}</span>
                </span>
                <span ng-if="provider.quantities.timeseries">
                    <span translate="providerList.timeseries"></span>
                <span>: {{provider.quantities.timeseries}}</span>
                </span>
                <span translate="providerList.phenomena"></span>
                <span>: {{provider.quantities.phenomena}}</span>
            </div>
        </div>
        <div class="btn btn-block btn-default" 
             ng-controller="SwcProviderDeselectProviderCtrl"
             ng-click="deselectAll(); close();">
            <div translate="providerList.selectAll"></div>
        </div>
    </div>
</div>
