<div class="swc-page swc-page-current" id="chart-page">
    <div class="container-fluid content" ng-controller="SwcTimeseriesCtrl">
        <div ng-if="!hasTimeseries()">
            <div class="empty-diagram">
                <span translate="chart.noTimeseriesSelected"></span>
            </div>
        </div>
        <div class="row fullHeight"
             ng-if="hasTimeseries()">
            <div class="col-xs-12 col-sm-8 col-lg-9 fullHeight">
                <div class="visible-xs leftPanelButton" ng-controller="SwcLegendButtonCtrl">
                    <button type="button" class="btn btn-primary btn-xs"
                            ng-hide="status.showLegend"
                            ng-click="$event.stopPropagation(); toggleLegend()" translate="main.legend"></button>
                    <button type="button" class="btn btn-primary btn-xs"
                            ng-show="status.showLegend"
                            ng-click="$event.stopPropagation(); toggleLegend()">X</button>
                </div>
                <div class="fullHeight"
                     ng-controller="SwcToggleCtrl">
                    <div ng-if="!isToggled">
                        <div ng-controller="SwcChartCtrl">
                            <flot class="diagram" options="options" dataset="dataset" on-time-change="timeChanged(time)" on-series-selection-change="seriesSelectionChanged(selection)"></flot>
                        </div>
                        <div ng-controller="IsMobileCtrl">
                            <div id="overviewChart"
                                 ng-if="!isMobile">
                                <div ng-controller="SwcOverviewChartCtrl">
                                    <div class="loading-overlay" ng-show="options.loading">
                                        <div class="glyphicon glyphicon-refresh icon-spin"></div>
                                    </div>
                                    <flot options="options" dataset="dataset" on-time-change="timeChanged(time)"></flot>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tableView" ng-if="isToggled">
                        <div ng-include="'templates/table/table.html'">
                        </div>
                    </div>
                    <div class="buttonFooter">
                        <!-- <swc-refresh-time></swc-refresh-time> -->
                        <!-- <swc-reload-button></swc-reload-button> -->
                        <swc-yaxis-hide-button></swc-yaxis-hide-button>
                        <swc-time-selector-buttons></swc-time-selector-buttons>
                        <a class="btn btn-default" data-action="dataTable" ng-click="toggle()">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-4 col-lg-3 fullHeight legend rightPanel"
                 ng-controller="SwcLegendButtonCtrl"
                 ng-class="{active:status.showLegend}">
                <h3 class="header" translate="main.legend"></h3>
                <swc-legend></swc-legend>
            </div>
            <!--<swc-data-loading></swv-data-loading>-->
        </div>
    </div>
</div>
