<span class="favorite-icons">
    <span class="glyphicon glyphicon-edit edit" 
          ng-controller="SwcEditFavoriteLabelModalCtrl"
          ng-click="$event.stopPropagation(); edit(favorite)"></span>
    <!--<span class="glyphicon glyphicon-stats addToDiagram" 
          ng-controller="SwcAddFavoriteToChartCtrl"
          ng-click="addToChart(favorite)"></span>-->
    <span class="glyphicon glyphicon-remove delete" 
          ng-controller="SwcDeleteFavoriteCtrl"
          ng-click="$event.stopPropagation(); delete(favorite)"></span>
</span>