<div>
  <uib-accordion close-others="true">
    <uib-accordion-group ng-repeat="param in parameters" 
                         is-open="param.isOpen" 
                         is-disabled="param.isDisabled">
      <uib-accordion-heading>
        <span ng-class="{'text-muted' : param.isDisabled}">
          <span ng-bind-html="param.header | translate"></span>
          <span ng-show=param.headerAddition> - </span>
          <span>{{param.headerAddition}}</span>
        </span>
      </uib-accordion-heading>
      <div ng-repeat="item in param.items" ng-click="openItem(item)">
        <span>{{item.label}}</span>
      </div>
      <div ng-if="param.error">
        <span translate='trajectories.noSupport'></span>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</div>
