#ja-cssmenu {
	margin: 0; /* all lists */
	padding: 0;
	background: url(../images/52n-cssmenu/mainnav-sep.gif) no-repeat left;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	margin: 0; /* all list items */
	padding: 0;
	float: left;
	display: block;
	background: none;
	background: url(../images/52n-cssmenu/mainnav-sep.gif) no-repeat right;
	cursor: pointer;
}

#ja-cssmenu li ul {
	width: 18.4em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	w\idth: 17.9em;
}

#ja-cssmenu li ul ul {
	margin: -2em 0 0 15em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 16.9em;
}

#ja-cssmenu ul a {
	width: 16.8em;
	w\idth: 12.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	display: block;
	text-decoration: none;
	line-height: 40px;
	padding: 0 20px 4px;
	color: #fff;
	font-size: 100%;
	/*font-weight: bold;*/
	letter-spacing: 1px;
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
	color: #fff;
}

#ja-cssmenu li:hover,
#ja-cssmenu li.sfhover,
#ja-cssmenu li.havechildsfhover,
#ja-cssmenu li.havechild-activesfhover {
	background: url(../images/52n-cssmenu/mainnav-hover.gif) no-repeat center bottom;
	color: #fff;
}

#ja-cssmenu li a.active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	background: url(../images/52n-cssmenu/mainnav-active.gif) no-repeat center bottom;
	color: #fff;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	/*border: 2px solid #626250;*/
	/*border-bottom-width: 1px;*/
	/*background: url(../images/52n-cssmenu/trans-bg.png);*/
        background-color: #626250;
        /*filter:alpha(opacity=95); /* Internet Explorer */
        /*-moz-opacity: 0.95; /* Mozilla Browser */
        /*opacity: 0.95; /* Opera */
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #6e6e5a;
	border-right: none;
	background: none;
}

#ja-cssmenu li ul a {
	border-right: none;
	margin: 0;
	padding: 7px 10px;
	line-height: normal;
	height: auto;
	background: none;
	color: #fff;
	font-weight: normal;
	font-size: 92%;
        width: 17.4em;
	w\idth: 16.9em;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	/*background: url(../images/52n-cssmenu/arrow3.png) no-repeat 94% 50%;*/
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #66c5e4;
	color: #fff;
}

#ja-cssmenu ul li a.active {
	background: none !important;
	color: #66c5e4;
	/*font-weight: bold;*/
}

#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	color: #fff;
}

li.ja-firstitem {
    background: none !important;
}
