body, div#footer {
	border-top: 0px !important;
}
div#footer h3 {
	color: #ccc;
	font-size: 14px !important;
	line-height: 24px;
}
.header-img-span {
	margin-top: 10px;
}
#content {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: 0px;
}
.container {
	width: 920px;
}
html, body, #wrap {
	height: 100%;
}
body > #wrap {
	height: auto;
	min-height: 100%;
}
#main {
	padding-bottom: 310px;
}
div#footer {
	position: relative;
	margin-top: -310px;
	height: 310px;
	clear:both;
}
.CodeMirror-scroll {
    height: auto !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

#jdbc-input { width: 475px; }
#jdbc-input-addon { width: 120px; }

ul.fn_list { margin: 0px !important; }
#f_bottom { padding-bottom: 0px !important; }


[class^="icon-"], [class*=" icon-"] {
    vertical-align: baseline !important;
    /*margin-right: 5px;*/
}


.multilingual button i.icon-plus,
.multilingual button i.icon-minus,
.multilingual .add-on i.icon-globe {
	margin-top: 3px;
	margin-bottom: 3px;
}
.multilingual .block {
	margin-bottom: 5px;
}
.multilingual .text {
	width: 337px;
}
.multilingual .help-block {
	margin-top: 10px;
}