body, div#footer {
	border-top: 0px !important;
}
div#footer h3 {
	color: #ccc;
	font-size: 14px !important;
	line-height: 24px;
}
.header-img-span {
	margin-top: 10px;
}
#content {
	padding-top: 20px;
	padding-bottom: 40px;
	margin-left: 0px;
}
.container {
	width: 920px;
}
html, body, #wrap {
	height: 100%;
}
body > #wrap {
	height: auto;
	min-height: 100%;
}
#main {
	padding-bottom: 310px;
}
div#footer {
	position: relative;
	margin-top: -310px;
	height: 310px;
	clear:both;
}
.CodeMirror-scroll {
    height: auto !important;
    overflow-y: hidden !important;
    overflow-x: auto !important;
}

#jdbc-input { width: 475px; }
#jdbc-input-addon { width: 120px; }

ul.fn_list { margin: 0px !important; }
#f_bottom { padding-bottom: 0px !important; }


[class^="icon-"], [class*=" icon-"] {
    vertical-align: baseline !important;
    /*margin-right: 5px;*/
}
.nodisplay {
	display: none;
}

.form-row {
	margin-bottom: 20px;
}

.text-muted {
	font-size: 14px;
}


[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	*margin-right: .3em;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../images/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

select {
	margin-top: 8px;
}


.multilingual button i.icon-plus,
.multilingual button i.icon-minus,
.multilingual i.icon-globe {
	margin-top: 3px;
	margin-bottom: 3px;
}

.icon-white,
.nav-pills>.active>a>[class^="icon-"],
.nav-pills>.active>a>[class*=" icon-"],
.nav-list>.active>a>[class^="icon-"],
.nav-list>.active>a>[class*=" icon-"],
.navbar-inverse .nav>.active>a>[class^="icon-"],
.navbar-inverse .nav>.active>a>[class*=" icon-"],
.dropdown-menu>li>a:hover>[class^="icon-"],
.dropdown-menu>li>a:focus>[class^="icon-"],
.dropdown-menu>li>a:hover>[class*=" icon-"],
.dropdown-menu>li>a:focus>[class*=" icon-"],
.dropdown-menu>.active>a>[class^="icon-"],
.dropdown-menu>.active>a>[class*=" icon-"],
.dropdown-submenu:hover>a>[class^="icon-"],
.dropdown-submenu:focus>a>[class^="icon-"],
.dropdown-submenu:hover>a>[class*=" icon-"],
.dropdown-submenu:focus>a>[class*=" icon-"] {
	background-image: url("../images/glyphicons-halflings-white.png");
}

.icon-globe {
	background-position: -336px -144px;
}
.icon-plus {
	background-position: -408px -96px;
}
.icon-minus {
	background-position: -433px -96px;
}
.icon-ok {
	background-position: -288px 0;
}
.icon-chevron-up {
	background-position: -288px -120px;
}
.icon-chevron-down {
	background-position: -313px -119px;
}
.icon-ok-circle {
	background-position: -192px -96px;
}
.icon-ban-circle {
	background-position: -216px -96px;
}
.icon-remove {
	background-position: -312px 0;
}
.icon-download-alt {
	background-position: -96px -24px;
}
.icon-wrench {
	background-position: -360px -144px;
}
.icon-trash {
	background-position: -456px 0;
}

.input-group-prepend, .input-group-append {
	background-color: #eee;
	padding: .375rem .75rem;
	align-items: center;
}

.multilingual .block {
	margin-bottom: 5px;
}
.multilingual .text {
	width: 337px;
}
.multilingual .help-block {
	margin-top: 10px;
}

.nav-tabs {
	margin-bottom: 1rem;
}

div#cacheSummary table {
	border-collapse: collapse;

}

div#cacheSummary table td {
	text-align: left;
	padding: 3px;
}

div#cacheSummary table td:first-child {
	font-weight: bold;
}