.dropdown-toggle {
    height: 30px;
}

.dropdown-toggle .caret {
    padding-bottom: 4px;
}

.list>button,
.list-item>.btn-group button {
    margin-bottom: 20px;
}

.codetype-codespace {
    margin-right: 5px;
}

.to-top {
    margin-top: -20px;
}

label.control-label {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.nav.nav-list {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list>li>a {
    margin-right: -10px;
    margin-left: -10px;
}