<div>
    <div>{{'map.stationLocation.station' | translate}}: {{timeseries.station.properties.label}}</div>
    <div>{{'map.stationLocation.timeseries' | translate}}: {{timeseries.label}}</div>
    <div>{{'map.stationLocation.provider' | translate}}: {{timeseries.parameters.service.label}}</div>
    <div class="backToChart" ng-controller="ToDiagramCtrl" ng-click="toDiagram()">
        <span class="glyphicon glyphicon-stats"></span>
        {{'map.stationLocation.jumpBackToChart' | translate}}
    </div>
</div>