<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close();">&times;</button>
        <div class="modal-title">
            <span>{{'map.stationSelection.station' | translate}}</span>:
            <swc-label-mapper ng-if="station.entry.properties.label" label="station.entry.properties.label"></swc-label-mapper>
        </div>
    </div>
    <div class="modal-body stationContent">
        <div ng-repeat="(id, timeseries) in station.entry.properties.timeseries"
             ng-if="phenomenonId == null || timeseries.phenomenon.id === phenomenonId">
            <swc-selectable-station-entry timeseries-id="id" timeseries="timeseries" service-url="serviceUrl"></swc-selectable-station-entry>
        </div>
        <div class="selectAllOption" ng-show="(station.entry.properties.timeseries | objectCount) > 1">
            <hr>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-click="toggleAll()" ng-model="isAllSelected">
                    <span translate="map.stationSelection.selectAllTimeseries"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmTimeseriesSelection" ng-click="addTimeseriesSelection(phenomenonId)" translate="ok"></button>
    </div>
</div>
