<div id="favorites-list">
    <div class="favorite-container col-xs-12 col-sm-6 col-lg-4" ng-repeat="favorite in favorites" ng-switch="favorite.type">
        <div class="favorite-entry"
             ng-controller="SwcAddFavoriteToChartCtrl"
             ng-click="addToChart(favorite)">
            <div class="favorite-header">
                <span ng-include="'templates/favorite/favorite-entry-icons.html'"/>
                <div class="header-label">{{favorite.label}}</div>
            </div>
            <div ng-switch-when="single">
                <span ng-include="'templates/favorite/favorite-entry.html'"/>
            </div>
            <div ng-switch-when="group">
                <span ng-include="'templates/favorite/favorite-group-entry.html'"/>
            </div>
        </div>
    </div>
</div>