<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>${project.parent.name}; Git-Branch: '${git.branch}'; Git-Commit: '${git.commit.id}' @ ${git.commit.time}; Build time: ${git.build.time}</display-name>
    <description>This is an OGC SOS.</description>
    <context-param>
        <!--defines the directory in which the log files will be stored. -->
        <param-name>logDir</param-name>
        <!-- a relative path is not allowed, if a relative path would be supported the log dir has to be in the WEB-INF dir-->
        <param-value>${conf.sos.logdir}</param-value>
    </context-param>
    <!-- location of the database configuration file -->
    <context-param>
        <param-name>datasourceConfigLocation</param-name>
        <param-value>/WEB-INF/config/datasource.properties</param-value>
    </context-param>
    <!-- root context -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/application-context.xml
            classpath*:contexts/root.xml
            classpath*:root-context.xml
            classpath*:contexts/root/*.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>settingsConfigLocation</param-name>
        <param-value>
            classpath*:contexts/settings/*.xml
        </param-value>
    </context-param>
    <!-- common sos context -->
    <context-param>
        <param-name>commonConfigLocation</param-name>
        <param-value>
            classpath*:contexts/common.xml
            classpath*:common-context.xml
            classpath*:contexts/common/*.xml
        </param-value>
    </context-param>
    <!-- unconfigured context, only loaded if uninstalled -->
    <context-param>
        <param-name>unconfiguredConfigLocations</param-name>
        <param-value>
            classpath*:contexts/unconfigured.xml
            classpath*:unconfigured-context.xml
            classpath*:contexts/unconfigured/*.xml
        </param-value>
    </context-param>
    <!-- configured context, only loaded if installed -->
    <context-param>
        <param-name>configuredConfigLocations</param-name>
        <param-value>
            classpath*:contexts/configured.xml
            classpath*:configured-context.xml
            classpath*:contexts/configured/*.xml
        </param-value>
    </context-param>
    <!-- Memory leak preventer listener -->
    <listener>
    	<listener-class>se.jiderhamn.classloader.leak.prevention.ClassLoaderLeakPreventorListener</listener-class>
    </listener>
    <!-- Spring startup listener -->
    <listener>
        <listener-class>org.n52.sos.SosContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>corsFilter</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <param-name>cors.allowOrigin</param-name>
            <param-value>*</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowGenericHttpRequests</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedMethods</param-name>
            <param-value>GET, POST, HEAD, PUT, DELETE, OPTIONS</param-value>
        </init-param>
        <init-param>
            <param-name>cors.supportedHeaders</param-name>
            <param-value>*</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- Spring security filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>corsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Spring dispatcher servlet -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.n52.sos.SOSDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
