name: Java CI on Pull Request

on:
  pull_request:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        java: [ 11, 17 ]
    runs-on: ubuntu-latest
    name: Java ${{ matrix.java }} compile
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -U -B clean install